<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="{{asset('bundles/musicshutdowns/css/bootstrap.css')}}" type="text/css">
  <link rel="stylesheet" href="{{asset('bundles/musicshutdowns/css/style.css')}}" type="text/css">
</head>
<body>

  <main class="main container">
    <div class="">

    </div>
  </main>

    <script src="{{asset('bundles/musicshutdowns/js/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/musicshutdowns/js/bootstrap.min.js')}}" type="text/javascript"></script>
</body>
</html>
